
[data-page="front"] {

	background: #F7F7F4;

	.wallterfall-screen {
		.blackout {
			.blackout(.05);
		}
	}

	.jumbo {
		position: relative;
		width: 800px;
		max-width: 95%;
		margin: auto;
		height: 500px;
		top: 50%; margin-top: -250px;
		text-align: center;

		section {
			display: table;
			width: 100%;
			text-align: left;
			
			.right, .left {
				display: table-cell;
			}

			.left {
				border: 1px solid #DDD;
				padding: 20px;
				background: white;
				p {
					font-size: 15px;
				}
			}

			.right {
				width: 30%;
				padding-left: 20px;
			}
		}

		.btn-facebook {
			.high-xbtn(white, mix(@COLOR1, #2b4b90, 10%));
			font-size: 14px;
			width: 100%;
		}

		a:not(.button) {
			color: #222;
			text-decoration: none;
			display: block;
		}
		.us {
			text-align: center;
			i {
				display: inline-block;
				font-size: 115px;
				outline: none;
				margin-bottom: 20px;
				.transition(color);
			}
		}
	}

	footer {
		width: 500px;
		max-width: 100%;
		text-align: center;
		margin: 20px auto 20px;
		font: 15px museo-sans;
	}
}
