{% extends '../stdbody.html' %}
{% set dataPage="main" %}

{% import '../macros/metaTags.html' as metaTagMacros %}

{% block head %}
	<link rel="stylesheet" href="{{ assetUrl('css/bundle.css') }}" />
{% endblock %}

{% block body %}

{% include '../components/wallterfall.html' %}

<div class="container">
	<div class="row">
		<div class="box">
			<div class="almofada col-md-8">
				<h1>Maratonas QI Labs</h1>
				<p class="lead">
					Em preparação para a segunda fase da OBM de 2014, o QI 
				</p>

				<p class="lead">
					Bem-vindo ao Maratonas QI Labs!<br/>
					Aqui você pode resolver problemas adaptados de olimpíadas passadas, receber estatísticas sobre o seu desempenho, e compartilhar sua pontuação com seus amigos.
				</p>
				<p>
					<strong>Estamos em fase de testes</strong>, notifique-nos de qualquer erro <a href="https://docs.google.com/forms/d/1QAkcnK2YPB5SF2f3Ds247aHKVF055bGlo0v-pt7Jn3s/viewform">por aqui</a>. <i class="icon-wink"></i>
				</p>
			</div>
			<div class="col-md-4">
				<div class="us">
					<i class="icon-bulb2"></i>
				</div>
				<a class="button btn-facebook" href="/auth/facebook">
					Entrar usando Facebook
				</a>
			</div>
		</div>
	</div>
	<footer class="">
		<i class="xbulb icon-bulb2"><a data-toggle="title" title="QI Labs" href="http://qilabs.org"></a></i>
	</footer>
</div>

<script src="/static/js/vendor/jquery-2.0.3.min.js"></script>
<script src="/static/js/vendor/modernizr-3.0.0-beta.min.js"></script>
<script>
</script>

{% endblock %}