{% extends '../stdbody.html' %}
{% set dataPage="front" %}

{% import '../macros/metaTags.html' as metaTagMacros %}

{% block head %}
	{% block meta %}
	{{ metaTagMacros.facebook({
		title: "Aquecimento Qi Labs · OBM",
		description: 'Aquecimento para a segunda fase da OBM 2014.',
	}) }}
	{{ metaTagMacros.meta({
		title: "Aquecimento Qi Labs · OBM",
		description: 'Aquecimento para a segunda fase da OBM 2014.',
	}) }}
	{{ metaTagMacros.twitter({
		title: "Aquecimento Qi Labs · OBM",
		description: 'Aquecimento para a segunda fase da OBM 2014.',
	}) }}
	{% endblock %}
	<link rel="stylesheet" href="{{ assetUrl('css/bundle.css') }}" />
{% endblock %}

{% block body %}

{% include '../components/wallterfall.html' %}

<div class="jumbo">
	<section>
		<div class="left">
			<h1>Maratona QI Labs</h1>
			<p>
				Em preparação para a segunda fase da OBM de 2014, o QI Labs trouxe para você umLorem ipsum Eu do sed eiusmod labore labore minim commodo commodo aliquip in culpa labore minim aliquip Duis eiusmod cupidatat do mollit ullamco deserunt irure eiusmod mollit.
			</p>
		</div>
		<div class="right">
			<div class="us">
				<i class="icon-bulb2"></i>
			</div>
			<a class="button btn-facebook" href="/auth/facebook">
				Entrar usando Facebook
			</a>
		</div>
	</section>
	<footer>
		<div class="message">
			<a href="http://qilabs.org/">Inscreva-se para o beta. · QI LABS</a>
		</div>
		<i class="icon-bulb2"></i>
	</footer>
</div>

<script src="/static/js/vendor/jquery-2.0.3.min.js"></script>
<script src="/static/js/vendor/modernizr-3.0.0-beta.min.js"></script>
<script>
</script>

{% endblock %}