{% extends '../stdbody.html' %}
{% set dataPage="main" %}

{% import '../macros/metaTags.html' as metaTagMacros %}

{% block head %}
	<link rel="stylesheet" href="{{ assetUrl('css/bundle.css') }}" />
{% endblock %}

{% block body %}

{% include '../components/wallterfall.html' %}

<div class="container">
	<div class="row">
		<div class="box">
			<div class="almofada col-md-12">
				<h1>Maratonas QI Labs</h1>
				<p class="lead">
					Em preparação para a segunda fase da Obmep de 2014, o QI Labs inaugura as maratonas trazendo para você dois simulados que vão ajudar os competidores de nível 2 e 3 a testarem seus conhecimento de matemática para a olimpíada.
				</p>
				<a class="button btn-facebook" href="/auth/facebook">
					Entrar usando Facebook
				</a>
			</div>
		</div>
	</div>
	<footer class="">
		<i class="xbulb icon-bulb2 inverse"><a data-toggle="title" title="QI Labs" href="http://qilabs.org"></a></i>
	</footer>
</div>

<script src="/static/js/vendor/jquery-2.0.3.min.js"></script>
<script src="/static/js/vendor/modernizr-3.0.0-beta.min.js"></script>
<script>
</script>

{% endblock %}