{% extends '../stdbody.html' %}
{% set dataPage="main" %}

{% import '../macros/metaTags.html' as metaTagMacros %}

{% block pageTitle %}{{ pageTitle|"Aquecimento QI Labs" }}{% endblock %}

{% block head %}
{% parent %}
	{% block meta %}
	{{ metaTagMacros.facebook({
		title: "Aquecimento Qi Labs · OBM",
		description: 'Aquecimento para a segunda fase da OBM 2014.',
	}) }}
	{{ metaTagMacros.meta({
		title: "Aquecimento Qi Labs · OBM",
		description: 'Aquecimento para a segunda fase da OBM 2014.',
	}) }}
	{{ metaTagMacros.twitter({
		title: "Aquecimento Qi Labs · OBM",
		description: 'Aquecimento para a segunda fase da OBM 2014.',
	}) }}
	{% endblock %}
	{% if user %}
	<script>window.user = {id: '{{user.id}}', name: '{{user.name}}', avatarUrl: '{{user.avatarUrl}}'}</script>
	{% else %}
	<script>window.user={}</script>
	{% endif %}
	<link rel="stylesheet" href="{{ assetUrl('css/bundle.css') }}">
	<link rel="stylesheet" href="//brick.a.ssl.fastly.net/Clear+Sans:400,500,700/Bitter:400,700/Merriweather:400,400i,700">
	<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Lora:400,400italic,700|PT+Serif:400,400i,700,700i'>
{% endblock %}

{% block body %}

{% block preBody %}{% endblock %}

<div class="container main-container smaller">

	<div class="row">
		<div class="box">
			<div class="box-header">
				<div class="breadcrumbs">
					Maratonas QI Labs
				</div>
				<div class="right">
					Logado como
					<div class="user-avatar">
						<div class="avatar" style="background-image: url('{{ user.avatarUrl }}')"></div>
					</div>
					<strong><span class="username">{{ user.name }}</span></strong>,&nbsp;
					<a href="#" data-ajax-post-href="/api/me/logout" data-redirect-href="/">
						sair
					</a>
				</div>
			</div>
			<div class="almofada col-md-7">
				<p class="lead">
					Bem-vindo ao Maratonas QI Labs, <strong>{{ user.name }}</strong>.
					Aqui você pode resolver problemas adaptados de olimpíadas passadas, receber estatísticas sobre o seu desempenho, e compartilhe sua pontuação com seus amigos.
				</p>
			</div>
			<div class="col-md-5">
				<h4>Aquecimentos abertos:</h4>
				<a class="button access-set" href="/p/obmep2014nivel2">
					2ª Fase OBMEP Nível 2
				</a>
				<a class="button access-set" href="/p/obmep2014nivel3">
					2ª Fase OBMEP Nível 3
				</a>
			</div>
		</div>
	</div>
	<footer class="">
		<i class="xbulb icon-bulb2"><a data-toggle="title" title="Um projeto QI Labs · 2014" href="http://qilabs.org"></a></i>
	</footer>
</div>


{% if user %}
	<!-- User Voice -->
	<script src="/static/js/bundle.js"></script>
	<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=AM_HTMLorMML-full"></script>
{% endif %}
{% endblock %}