{% extends '../stdbody.html' %}
{% set dataPage="main" %}

{% import '../macros/metaTags.html' as metaTagMacros %}

{% block pageTitle %}{{ pageTitle|"Aquecimento QI Labs" }}{% endblock %}

{% block head %}
{% parent %}
	{% if user %}
	<script>window.user = {id: '{{user.id}}', name: '{{user.name}}', avatarUrl: '{{user.avatarUrl}}'}</script>
	{% else %}
	<script>window.user={}</script>
	{% endif %}
	<link rel="stylesheet" href="{{ assetUrl('css/bundle.css') }}">
	<link rel="stylesheet" href="//brick.a.ssl.fastly.net/Clear+Sans:400,500,700/Bitter:400,700/Merriweather:400,400i,700">
	<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Lora:400,400italic,700|PT+Serif:400,400i,700,700i'>
{% endblock %}

{% block body %}

{% block preBody %}{% endblock %}

<div class="container">

	<div class="row">
		<div class="box">
			<div class="almofada col-md-8">
				<p class="lead">
					Bem-vindo ao Maratonas QI Labs!<br/>
					Aqui você pode resolver problemas adaptados de olimpíadas passadas, receber estatísticas sobre o seu desempenho, e compartilhar sua pontuação com seus amigos.
				</p>
				<p>
					<strong>Estamos em fase de testes</strong>, notifique-nos de qualquer erro <a href="https://docs.google.com/forms/d/1QAkcnK2YPB5SF2f3Ds247aHKVF055bGlo0v-pt7Jn3s/viewform">por aqui</a>. <i class="icon-wink"></i>
				</p>
			</div>
			<div class="col-md-4">
				<h4>Aquecimentos abertos:</h4>
				<a class="button access-set" href="/p/obmep2014nivel2">
					2ª Fase OBMEP Nível 2
				</a>
				<a class="button access-set" href="/p/obmep2014nivel3">
					2ª Fase OBMEP Nível 3
				</a>
			</div>
		</div>
	</div>
	<footer class="">
		<i class="xbulb icon-bulb2 inverse"><a data-toggle="title" title="Um projeto QI Labs · 2014" href="http://qilabs.org"></a></i>
	</footer>
</div>


{% if user %}
	<!-- User Voice -->
	<script src="/static/js/bundle.js"></script>
	<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=AM_HTMLorMML-full"></script>
{% endif %}
{% endblock %}