<!DOCTYPE html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# qilabsdotorg: http://ogp.me/ns/fb/qilabsdotorg#">
<title>{% block title %}{% if pageTitle %}{{ pageTitle }}{% else %}Maratona QI Labs{% endif %}{% endblock %}</title>
<meta charset="utf-8">
<meta property="fb:app_id" content="{{ nconf.get('facebook_app_id') }}" />
<meta property="og:title" content="{{ pset.name }}" />
<meta property="og:image" content="http://qilabs.org/static/images/logo.png" />
<meta property="og:url" content="http://maratona.qilabs.org/p/{{ ''+pset.slug }}" />
<meta property="og:type" content="qilabsdotorg:simulado" />
<meta property="og:description" content="Aquecimento para a segunda fase da OBMEP 2014." />
</head>
<body>
<body>
<html>