
{#
# Be carefull not to use the same variable names as parent documents as arguments.
#}

{% macro render(_auser, tooltip) %}
<div class="avatarWrapper">
	{% if tooltip %}
		<div class="avatar" style="background: url({{ _auser.avatarUrl }})" data-toggle="tooltip" title="{{ _auser.name }}" data-placement="bottom"></div>
	{% else %}
		<div class="avatar" style="background: url('{{ _auser.avatarUrl }}')"></div>
	{% endif %}
</div>
{% endmacro %}

{% macro renderUser (__arg_user) %}
{% if __arg_user %}
<div class="avatarWrapper">
	<a href="{{ __arg_user.path }}">
		<div class="avatar" style="background: url({{ __arg_user.avatarUrl }})" data-toggle="tooltip" title="{{ __arg_user.name }}" data-placement="bottom"></div>
	</a>
</div>
{% endif %}
{% endmacro %}

{% macro renderUserList (__arg_list) %}
	{% for __arg_person in __arg_list %}
		{{ renderUser(__arg_person) }}
	{% endfor %}
{% endmacro %}