
/*
** sn_pages.less
** Copyright QIlabs.org
** Styles of the internal pages.
*/

@import "../common.less";

@import "components/alerts.less";
@import "components/wallterfall.less";

@import "pages/front.less";
@import "pages/error.less";

body {
	background: #EEE;
}
html, body {
    margin: 0;
    height: 100%;
}

[data-page=editor-panel] {
	padding: 30px 30px 50px;

	.problem-input {
		min-width: 600px;
		.cols {
			display: table;
			width: 100%;
		}

		.left, .right {
			display: table-cell;
			width: 50%;
		}
		.right {
			padding-left: 10px;
			width: 30%;
		}
		textarea {
			width: 100%;
			display: block;
			height: 100px;
		}
		input {
			display: block;
		}
		input, textarea, select {
			padding: 5px;
			width: 100%;
			margin-bottom: 10px;
		}
		input[type=submit] {
			.xbtn(white, #888);
		}
	}

	.problem-list {
		margin-bottom: 30px;
		border-top: 1px solid #AAA;
		max-width: 100%;

		table {
			display: inline-block;
			max-width: 100%;

			tbody {
				tr {
					background: white;
					&.active {
						background: #EEE;
						font-weight: bold;
					}
				}
			}

			td {
				padding: 10px;
				font: 12px Arial;
				border: 1px solid #AAA;
			}

			.right {
				vertical-align: top;
				display: inline-block;
				width: 29%;

				.btn-remove {
					.xbtn(white, mix(@COLOR4, red));
				}
				.btn-edit {
					.xbtn(white, mix(@COLOR3, yellow));
				}
			}
		}
	}
}

@postColWidth: 830px;

.gcontainer {
	position: absolute;
	top: 15%;
	width: 100%;
}

.question-box {
	display: table;
	margin: auto;
	width: @postColWidth;

	background: white;
	font-family: museo-sans;
	border: 1px solid #DDD;

	.breadcrumbs {
		// font: 15px Georgia;
		padding: 30px 20px 0;
		color: #666;
		position: absolute;
		top: -57px;
	}

	.content-col {
		width: 550px;
		display: table-cell;
		vertical-align: top;

		.header {
			height: 50px;

			& > .user-avatar {
				width: 50px;
			}

			.title {
				display: inline-block;
				height: 50px;
				line-height: 50px;
				padding: 0 5px;
				font: bold 23px museo-sans;
			}
		}

		.body-window {
			width: 550px;
			height: 350px;
			overflow-y: auto;

			.title {
				font: 23px museo-sans; 
			}

			.content {
				padding: 30px;
				font-size: 16px;
				word-break: break-word;
				ul {
					margin-left: 20px;
				}
			}
		}

		::-webkit-scrollbar {
			width: 10px;
		} 

		::-webkit-scrollbar-thumb {
			background-color: rgba(0,0,0,.1);
			.transition;
			&:hover {
				background-color: rgba(0,0,0,.2);
			}
		}

		.fixed-footer {
			height: 60px;
			line-height: 60px;
			padding: 0 20px;
			border-top: 1px solid #DDD;
			-webkit-box-shadow: 0 -33px 20px -35px rgba(0,0,0,.5); 
			-moz-box-shadow: 0 -33px 20px -35px rgba(0,0,0,.5);
			box-shadow: 0 -33px 20px -35px rgba(0,0,0,.5); 

			.info {
				display: inline-block;
				color: #555;
				font-size: 15px;
				a {
					color: mix(#444, blue, 95%);
					text-decoration: underline;
				}
			}

			.user-avatar {
				width: 30px;
				height: 30px;
				border-radius: 30px;
				margin-right: 10px;
			}
			.actions {
				display: inline-block;
				float: right;
				.flag {
					background: 0;
					outline: 0;
					.no-box-shadow;
					.transition;
					&:hover {
						background: #EEE;
					}
					i {
						font-size: 20px;
						color: mix(yellow, @COLOR3);
					}
				}
			}
		}
	}

	.right-col {
		width: 350px;
		display: table-cell;
		padding: 30px;
		border-left: 1px solid #DDD;
		color: white;
		background: #DDD;
		background: #39CCCC; // desaturate(mix(@COLOR1, @COLOR2),10%);

		span.question {
			font: 18px/1.7 "PT Serif";
			display: block;
			margin-bottom: 15px;
		}

		input.answer {
			border: 0;
			outline: 0;
			padding: 10px;
			width: 100%;
			border: 2px solid #777777;
			.transition;
			&:focus {
				border-color: mix(@COLOR1, @COLOR2);
			}
			font-size: 16px;

			color: #444;
		}
	}

}

.xfooter {
	margin: 30px 0 30px;
	text-align: center;

	font-size: 13px;
	color: #555;
	line-height: 18px;
	font-family: museo-sans;

	& > i {
		font-size: 37px;
		background: white;
		padding: 10px;
		border-radius: 40px;
		// border: 1px solid #ddd;
		color: #AAA;
		text-shadow: 0 0 1px rgba(0,0,0,0)
	}
}