
/*
** sn_pages.less
** Copyright QIlabs.org
** Styles of the internal pages.
*/

@import "../common.less";

@import "components/alerts.less";
@import "components/wallterfall.less";
@import "components/navbar.less";
@import "components/dialog.less";

@import "pages/main.less";
@import "pages/front.less";
@import "pages/problem.less";
@import "pages/panel.less";
@import "pages/error.less";

html, body {
    margin: 0;
    height: 100%;
}


@postColWidth: 830px;

.gcontainer {
	position: absolute;
	top: 15%;
	width: 100%;
}

.brand {
	font-family: museo-sans;
	i {
		font-size: .8em;
	}
}

body {
    background: #f6f6f3;
}


.close-btn {
	color: #EEE;
	font-style: normal;
	font-size: 22px;
	cursor: pointer;
	color: white;
	.transition;

	opacity: .9;
	&:hover {
		opacity: 1;
	}
	&::before {
		content: "×";
	}
}


.pContainer {
	position: fixed;
	top: 0; bottom: 0;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;

	z-index: 20;

	& > .close-btn {
		position: absolute;
		top: 10px;
		right: 20px;
	}
}


.xbulb {
	// line-height: 18px;
	display: block;
	margin: 30px auto 30px;
	font-size: 37px;
	padding: 10px;
	height: 60px;
	line-height: 40px;
	width: 60px;
	position: relative;
	text-align: center;
	border-radius: 40px;
	// border: 1px solid #ddd;
	text-shadow: 0 0 1px rgba(0,0,0,0);
	background: #CCC;
	color: white;
	&.inverse {
		color: #AAA;
		background: white;
	}
	& > a {
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
	}
}


.box {
	margin: auto;
	position: relative;
	width: @postColWidth;
	background: white;
	font-family: museo-sans;
	display: table;
	padding: 10px;
	border: 1px solid #eaeaea;

	& > header {
		// font: 15px Georgia;
		color: #22;
		position: absolute;
		padding: 0 20px;
		width: 100%;
		top: -30px;
		left: 0px;

		.breadcrumbs {
			line-height: 33px;
		}

		& > div {
			display: inline-block;
		}
		& > .right {
			float: right;
			line-height: 33px;
		}

		.breadcrumbs {
			display: inline-block;
			a {
				color: #111;
				text-transform: uppercase;
			}
		}

		.user-avatar {
			margin: 0 7px;
			width: 20px;
			height: 20px;
			border-radius: 20px;
		}

		.right {
			position: absolute;
			display: inline-block;
			right: 20px;
			color: #666;

			strong {
				font-weight: normal;
				color: #333;
			}
		}
	}
}