
/*
** sn_pages.less
** Copyright QIlabs.org
** Styles of the internal pages.
*/

@import "../common.less";

@import "components/alerts.less";
@import "components/wallterfall.less";

@import "pages/front.less";
@import "pages/error.less";

body {
	background: #EEE;
}
html, body {
    margin: 0;
    height: 100%;
}

[data-page=editor-panel] {
	padding: 30px 30px 50px;

	.problem-input {
		min-width: 600px;
		.cols {
			display: table;
			width: 100%;
		}

		.left, .right {
			display: table-cell;
			width: 50%;
		}
		.right {
			padding-left: 10px;
			width: 30%;
		}
		textarea {
			width: 100%;
			display: block;
			height: 100px;
		}
		input {
			display: block;
		}
		input, textarea, select {
			padding: 5px;
			width: 100%;
			margin-bottom: 10px;
		}
		input[type=submit] {
			.xbtn(white, #888);
		}
	}

	.problem-list {

		margin-bottom: 30px;
		border-top: 1px solid #AAA;

		table {
			display: inline-block;

			td {
				background: white;
				padding: 10px;
				border: 1px solid #AAA;
			}

			.right {
				vertical-align: top;
				display: inline-block;
				width: 29%;

				.btn-remove {
					.xbtn(white, mix(@COLOR4, red));
				}
			}
		}
	}
}