{% extends 'layout.html' %}
{% set dataAbout="faq" %}
{% set pageTitle="Ajuda" %}

{% block aboutHeader %}
<h1>Precisa de Ajuda?</h1>
{% endblock %}

{% block aboutBody %}
<section class="faq">
	<div class="container">
		<h1><strong>Perguntas frequentes</strong></h1>
		<h3>Dig din. Nosso FAQ é em latim.</h3>
		<ul class="questions">
			<li class="">
				<h3>P: Lorem Ipsum Dolor Sit Amet?</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</li>
			<li class="">
				<h3>P: Lorem Ipsum Dolor Sit Amet?</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</li>
			<li class="">
				<h3>P: Lorem Ipsum Dolor Sit Amet?</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</li>
		</ul>
	</div>
</section>
{% endblock %}