<nav class="bar" role="navigation" id="navbar">
<div class="navcontent">
	<div class="center">
		<a class="brand" href="/" tabindex="-1">QI<i class="icon-lightbulb2"></i>Labs<sup class="alpha">alpha</sup></a>
	</div>
	<ul class="nav-menu">
		{% switch pageId %}
			{% if user %}
				<li>
					<a class="button nav-btn" href="/">
						<i class="icon-home"></i>
					</a>
				</li><li class="nav-menu-label streamSetter" data-stream-source="inbox">
				</li>{#<li class="nav-menu-label streamSetter" data-stream-source="problems">
					<button class="nav-btn" data-stream-source="global">
						<span>
							Problemas
						</span>
						<sup class="sup">3</sup>
					</button>
				</li><li>
					<button class="nav-btn" onClick="$('#srry').fadeIn()">
						<i class="icon-search3"></i>
					</button>
				</li>#}
			{% endif %}
			{% case "guide-home" %}
				{% set navRoot = navbarOpts.navMenu|first %}
				{% if user %}
				<li>
					<a class="button nav-btn" href="/">
						<i class="icon-home"></i>
					</a>
				</li>{% endif %}<li class="nav-menu-label standout">
					<a href="{{ navRoot.url }}">
						<strong><i class="iconThumbnail iconThumbnailSmall icon-books"></i></strong>
						<span>
							{{ pageDetailLabel }}
						</span>
					</a>
				</li>
			{% case "guide-page" %}
				{% if user %}
				<li>
					<a class="button nav-btn" href="/">
						<i class="icon-home2"></i>
					</a>
				</li>{% endif %}{% for item in navbarOpts.navMenu %}{% if loop.first %}<li class="nav-menu-label standout">{% else %}<i class="icon-arrow-right3"></i>{% if loop.last %}<li class="nav-menu-label active">{% else %}<li class="nav-menu-label">{% endif %}{% endif %}
					<a href="{{ item.url }}">
						{% if item.icon %}
						<strong><i class="iconThumbnail iconThumbnailSmall {{ item.icon }}"></i></strong>
						{% endif %}
						<span>
							{{ item.name }}
						</span>
					</a>
				</li>{% endfor %}
			{% case "user-profile" %}
				{% set firstName = pUser.name|split(' ')|first %}
				<li>
					<a class="button nav-btn" href="/">
						<i class="icon-home2"></i>
					</a>
				</li><li class="nav-menu-label standout">
					<i class="iconThumbnail iconThumbnailSmall icon-child"></i>
					<span class="pageLabel">
						{{ pageDetailLabel }}
					</span>
				</li>{#<li>
					<button class="streamSetter nav-btn" data-stream-source="inbox" data-toggle="tooltip" data-title="Todos de {{ firstName }}" data-placement="right">
						<i class="icon-user2"></i>
					</button>
				</li><li>
					<button class="streamSetter nav-btn" data-stream-source="popular" data-toggle="tooltip" data-title="Populares de {{ firstName }}" data-placement="right">
						<i class="icon-fire22"></i>
					</button>
				</li><li>
				</li><li>
					<button class="streamSetter nav-btn" data-stream-source="popular" data-toggle="tooltip" data-title="Likes de {{ firstName }}" data-placement="right">
						<i class="icon-heart22"></i>
					</button>
				</li><li>
					<button class="nav-btn">
						<i class="icon-search3"></i>
					</button>
				</li>#}
			{% case "tag" %}
				<li>
					<a class="button nav-btn" href="/">
						<i class="icon-home2"></i>
					</a>
				</li><li class="nav-menu-label standout">
					<i class="iconThumbnail iconThumbnailSmall icon-tag"></i>
					<span class="pageLabel">
						{{ pageDetailLabel }}
					</span>
				</li>
		{% endswitch %}
	</ul>
	{% if user %}
	<ul class="right">
		<li>
			<button onClick="$('#srry').fadeIn()" class="icon-btn calendar" data-toggle="tooltip" title="Agenda" data-placement="bottom">
				<i class="icon-calendar2"></i><sup class="count"></sup>
			</button>
		</li><li>
			<button onClick="$('#srry').fadeIn()" class="icon-btn chat" data-toggle="tooltip" title="Discussões" data-placement="bottom">
				<i class="icon-eye"></i><sup class="count"></sup>
			</button>
		</li><li id="nav-bell">
			<button class="icon-btn bell" data-action="show-notifications">
				<i class="icon-bell2"></i><sup class="count">0</sup>
			</button>
		</li><li>
			<button class="icon-btn pencil" data-trigger="component" data-component="createPost" data-href="/novo">
				<i class="icon-pencil2"></i>
			</button>
		</li><li class="nav-dropdown">
		 	<div id="drop3" data-toggle="dropdown" role="button" class="avatar-btn dropdown-toggle">
				<div class="avatarDd" style="background-image: url('{{ user.avatarUrl }}')">
				</div>
			</div>
			<ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
				<li role="presentation">
					<a role="menuitem" tabindex="-1" href="{{ user.path }}">
						<i class="icon-user"></i> Meu Perfil
					</a>
				</li>
				<li role="presentation">
					<a role="menuitem"  tabindex="-1" href="{{ getPageUrl('settings') }}">
						<i class="icon-gear"></i> Configurações
					</a>
				</li>
				<li role="presentation">
					<a role="menuitem" tabindex="-1" href="{{ getPageUrl('about') }}">
						<i class="icon-question"></i> Ajuda e FAQ
					</a>
				</li>
				<li role="presentation" class="divider"></li>
				<li role="presentation">
					<a role="menuitem" tabindex="-1" data-ajax-post-href="{{ getPageUrl('logout') }}" data-redirect-href="/">
						<i class="icon-sign-out"></i> Log Out
					</a>
				</li>
			</ul>
		</li>
	</ul>
	{% else %}
	<ul class="right">
		{% switch pageId %}
			<li>
				<a href="/" class="button" data-action="login">
					ENTRAR
				</a>
			</li>
		{% endswitch %}
	</ul>
	{% endif %}
</div>
</nav>


<div class="dialog" id="srry">
	<div class="box-blackout" onClick="$(this.parentElement).fadeOut();" data-action="close-dialog"></div>
	<div class="box">
		<h2>Esse recurso não está disponível ainda. :(</h2>
		<img src="/static/images/gatinho.jpg" height="400">
		<h4>(clique fora da caixa e deixe o gatinho voltar ao trabalho)</h4>
	</div>
</div>